/*Write our CSS in here*/
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

/*What we're selecting*/
h1 {
	/*How to style it*/
	font-weight: 200;
	font-size: 70px;
	text-transform: uppercase;
	border-top: 5px solid;
}
body {
	background-color: #F69680;
	color: #2E1263;
	font-family: "Source Code Pro";
	font-weight: 200;
}
img	{
	height: 500px;
	border-radius: 50%;
}
#container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
button {
	margin: 30px auto 0;
	padding: 20px 25px;
	background-color: #F69680;
	color: #2E1263;
	font-size: 14px;
	text-align: center;
	border: 1px solid #2E1263;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	outline: none;
}

button:hover {
	transition: 0.3s;
	background-color: #2E1263;
	color: #F69680;
	text-decoration: underline;
}

p {
	font-size: 20px;
}




